<template>
  <section class="container">
    <div class="row">
      <div class="col-md-2">
        <a href=# @click="openMain"><img src=/images/logo.svg width=160 title="Logo"></a>
      </div>
      <div class="col-md-9">
        &nbsp;
      </div> 
      <div class="col-md-1 right-side">
        <a href=# @click.prevent="openCart">
          {{ cartTotal }} <img src=/images/cart.png width=32>
        </a>
      </div>
    </div>

    <div class="row">

      <div class="col-md-11">
        <h1>Корзина</h1>
        <div class="row item-line">
          <div class="col-md-2 col-md-offset-4">
            <b>Номинал</b>
          </div>
          <div class="col-md-2">
            <b>Кол-во</b>
          </div>
          <div class="col-md-2">
            <b>Сумма</b>
          </div>
        </div>

        <div class="row item-line" v-for="(item, ind) in cart" :key="ind">
          <div class="col-md-2">
            <img :src="item.image" width=160>
          </div>
          <div class="col-md-2">{{ item.title }}</div>
          <div class="col-md-2">{{ item.val }} руб</div>
          <div class="col-md-2">
            <button @click.prevent="decAmount(item, ind)">-</button>
            {{ item.amount }}
            <button @click.prevent="incAmount(item, ind)">+</button>
          </div>
          <div class="col-md-2">{{ item.val * item.amount }} руб</div>
          <div class="col-md-2">
            <button class="btn-sm" @click.prevent="delFromCart(ind)">Удалить</button>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-4 col-md-offset-6">
            <span style="font-size: 20px;"><b>К оплате {{ total }} рублей</b></span>
          </div>
          <div class="col-md-2">
            <button class="btn btn-warning">Оплатить</button>
          </div>
        </div>
      </div>
    </div>

    <modal name="del-cart" transition="nice-modal-fade"
        classes="demo-modal-class"
        :min-width="200"
        :min-height="200"
        :pivot-y="0.5"
        :adaptive="true"
        :scrollable="false"
        :reset="true"
        width="60%"
        height="90">
      <div class="modal-window">
          <p>Вы уверены что хотите удалить данный товар из корзины?</p>
          <div class="row">
            <div class="col-md-2 col-md-offset-4">
              <button type="button" class="mb-xs mt-xs mr-xs btn btn-default" v-on:click.prevent="onCancel">Нет</button>
            </div>
            <div class="col-md-2">
              <button type="button" class="mb-xs mt-xs mr-xs btn btn-warning" @click="onConfirm">Да</button>
            </div>
          </div>
      </div>
    </modal>
  </section>
</template>

<script>
import _ from 'lodash';
import axios from 'axios';

export default {
  head: {
    title: 'Корзина'
  },

  data: function () {
    return {
      itemIndex: -1,
      cartTotal: 0,
      total: 0,
      cart: [],
    };
  },

  methods: {
    incAmount: function(item, ind) {
      item.amount += 1;
      this.countTotals(this.cart);
      localStorage.cart = JSON.stringify(this.cart);
    },

    decAmount: function(item, ind) {
      if (item.amount == 1) return false;
      item.amount -= 1;
      this.countTotals(this.cart);
      localStorage.cart = JSON.stringify(this.cart);
    },

    openMain: function() {
      this.$router.push('/');
    },

    delFromCart: function(item) {
      this.itemIndex = item;
      this.$modal.show('del-cart');
    },

    onConfirm: function() {
      if (this.itemIndex >= 0) {
        const newCart = this.cart;
        newCart.splice(this.itemIndex, 1);
        this.countTotals(newCart);
        this.cart = newCart;
        localStorage.cart = JSON.stringify(newCart);
      }
      this.$modal.hide('del-cart');
    },

    countTotals: function(cart) {
      let total = 0;
      let items = 0;
      cart.forEach((item) => {
        items += item.amount*1;
        total += item.amount*1 * item.val*1;
      });
      this.total = total;
      this.cartTotal = items;
    },

    onCancel: function() {
      this.$modal.hide('del-cart');
    },

    resetFilter: function() {
      this.filterByCat(null);
    },

    filterByCat: function(cat) {
      this.selectedCat = cat;
      if (cat) {
        this.brands = this.brandsByCat[cat];
      } else {
        this.brands= this.allBrands;
      }
      console.log(this.brands);
    },

  },

  mounted: function() {
    if (localStorage && localStorage.cart) {
      const cart = JSON.parse(localStorage.cart);
      this.cart = cart;
      this.countTotals(cart);
    }
  },

  computed: {
    pageTitle: () => 'Корзина',
  }
}

</script>

<style>
.container {
  padding: 20px;
}

.right-side {
  justify-content: right;
  align-items: right;
  text-align: right;
}

.right-side a {
  text-decoration: none;
}

.item-line {
  padding: 10px;
}

ul {
  text-align: left;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
}
    
.modal-window {
  position: absolute;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transition: .5s;
  width: 100%;
  min-width: 400px;
  max-width: 600px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  transform: translate(-50%, -50%);
  padding: 1em;
  color: black;
  text-align: center;
}

</style>

