<template>
  <section class="container">
    <div class="row">
      <div class="col-md-2">
        <img src=/images/logo.svg width=160 title="Logo">
      </div>
      <div class="col-md-9">
        &nbsp;
      </div> 
      <div class="col-md-1 right-side">
        <a href=# @click.prevent="openCart">
          {{ cartTotal }} <img src=/images/cart.png width=32>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 menu-bar">
        <ul class="nav flex-column">
          <li class="nav-item"><a href=# @click.prevent="resetFilter"><b>Все бренды</b></a></li>
          <li class="nav-item" v-for="item in cats" :key="item.id">
            <a href=# @click.prevent="filterByCat(item.id, item.title)">{{ item.title }}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-10">
        <h1>{{ pageTitle }}</h1>

        <div class="row">
          <div class="col-md-4" v-for="item in brands" :key="item.id">
            <div class="item-box">
              <img :src="item.image" width="100%"><br>
              <span class="item-title">
                <a href=# @click.prevent="addToCart(item)">{{ item.title }}</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <modal name="add-cart" transition="nice-modal-fade"
        classes="demo-modal-class"
        :min-width="200"
        :min-height="200"
        :pivot-y="0.5"
        :adaptive="true"
        :scrollable="false"
        :reset="true"
        width="60%"
        height="90">
      <div class="modal-window">
        <form @submit.prevent="onConfirm">
          <div class="row">
            <div class="col-md-8">
              <p>Выберите номинал подарочной карты<br>для добавления в корзину:</p>
            </div>
            <div class="col-md-4">
              <select id="nominal" v-model="selectedCardVal" class="form-control" required>
                <option v-for="val in faces" :key="val" v-bind:value="val"> {{ val }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <p>Количество:</p>
            </div>
            <div class="col-md-4">
              <select v-model="amount" class="form-control" required>
                <option default value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-4">
              <button type="button" class="mb-xs mt-xs mr-xs btn btn-default" v-on:click.prevent="onCancel">Отмена</button>
            </div>
            <div class="col-md-2">
              <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success">Добавить</button>
            </div>
          </div>
        </form>
      </div>
    </modal>
  </section>
</template>

<script>
import _ from 'lodash';
import axios from 'axios';

export default {
  head: {
    title: 'Список брендов'
  },

  data: function () {
    return {
      title: 'Все бренды',
      selectedCat: null,
      selectedCardVal: null,
      selectedCard: null,
      amount: 1,
      allBrands: [],
      brands: [],
      brandsByCat: {},
      cats: [],
      faces: [],
      cartTotal: 0,
    };
  },

  methods: {
    openCart: function() {
      this.$router.push('/cart');
    },

    addToCart: function(item) {
      console.log(item);
      this.faces = item.faces;
      const dat = _.clone(item);
      delete dat.faces;

      this.selectedCardVal = null;
      this.selectedCard = dat;
      this.amount = 1;
      this.$modal.show('add-cart');
    },

    onConfirm: function() {
      this.cartTotal = this.cartTotal*1 + this.amount*1;
      this.$modal.hide('add-cart');

      const cartRaw = localStorage.cart || '[]';
      const cart = JSON.parse(cartRaw);
      cart.push({
        ...this.selectedCard,
        val: this.selectedCardVal,
        amount: this.amount,
      });
      localStorage.cart = JSON.stringify(cart);
    },

    onCancel: function() {
      this.$modal.hide('add-cart');
    },

    resetFilter: function() {
      this.filterByCat(null);
    },

    filterByCat: function(cat, title = 'Все бренды') {
      this.selectedCat = cat;
      this.title = title;
      if (cat) {
        this.brands = this.brandsByCat[cat];
      } else {
        this.brands= this.allBrands;
      }
      console.log(this.brands);
    },

    loadCats: async function() {
      const res = await axios.get('/data/categories.json');
      const dat = res.data.map((i) => {
        return {
          ...i,
          sorting: parseInt(i.sort, 10),
        };
      });
      this.cats = _.orderBy(dat, ['sorting'], ['asc']);
      
      this.loadBrands();
    },

    loadBrands: async function() {
      const res = await axios.get('/data/brands.json');

      res.data.map((brand) => {
        const cats = brand.categories;
        cats.forEach((cat) => {
          if (!this.brandsByCat[cat]) {
            this.brandsByCat[cat] = [];
          }
          this.brandsByCat[cat].push(brand);
        })  
      });
      this.allBrands = res.data;
      return this.filterByCat(null);
    },
  },

  mounted: function() {
    if (localStorage && localStorage.cart) {
      let total = 0;
      const cart = JSON.parse(localStorage.cart);
      cart.forEach((i) => {
        total += i.amount * 1;
      });
      this.cartTotal = total;
    }
    this.loadCats();
  },

  computed: {
    pageTitle: function () {
      return this.title;
    },
  }
}

</script>

<style>
.container {
  padding: 20px;
}

.right-side {
  justify-content: right;
  align-items: right;
  text-align: right;
}

.right-side a {
  text-decoration: none;
}

.menu-bar {
  padding: 25px;
}

.item-box {
  background: #f16536;
  color: white;
  border: 2px solid #f16536;
  margin-bottom: 20px;
}

.item-title a:link {
  color: white;
}

.item-title a:visited {
  color: white;
}

ul {
  text-align: left;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
}
    
.modal-window {
  position: absolute;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transition: .5s;
  width: 100%;
  min-width: 400px;
  max-width: 600px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  transform: translate(-50%, -50%);
  padding: 1em;
  color: black;
  text-align: center;
}

</style>

